body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

input {
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
}

li {
    list-style: none;
    padding: 10px;
    background: white;
    margin: 5px;
}
